# Data Cleaning :


This File Is Bout Data Cleaning, creating function to restructure and complete missing data

In [ ]:
# Importation :
import pandas as pd

## 1.Create a restructure function to drop useless lvl :

In [ ]:
def restructure_df(df):
    # Verify if fist colunm name is price
    if df.columns[0] == "Price":
        df = df.drop(index=0).reset_index(drop=True)
        df = df.drop(index=0).reset_index(drop=True)
        df = df.rename(columns={"Price": "Date"})
    else:
        print("Already have a good format.")
    
    return df

In [19]:
sp500 = pd.read_csv('data/stockMarket/SP500_data.csv')
sp500= restructure_df(sp500)
sp500

,Date,Close,High,Low,Open,Volume
0,2000-01-03,1455.219970703125,1478.0,1438.3599853515625,1469.25,931800000
1,2000-01-04,1399.4200439453125,1455.219970703125,1397.4300537109375,1455.219970703125,1009000000
2,2000-01-05,1402.1099853515625,1413.27001953125,1377.6800537109375,1399.4200439453125,1085500000
3,2000-01-06,1403.449951171875,1411.9000244140625,1392.0999755859375,1402.1099853515625,1092300000
4,2000-01-07,1441.469970703125,1441.469970703125,1400.72998046875,1403.449951171875,1225200000
...,...,...,...,...,...,...
6283,2024-12-23,5974.06982421875,5978.25,5902.56982421875,5940.25,3593280000
6284,2024-12-24,6040.0400390625,6040.10009765625,5981.43994140625,5984.6298828125,1757720000
6285,2024-12-26,6037.58984375,6049.75,6007.3701171875,6024.97021484375,2904530000
6286,2024-12-27,5970.83984375,6006.169921875,5932.9501953125,6006.169921875,3159610000
6287,2024-12-30,5906.93994140625,5940.7900390625,5869.16015625,5920.669921875,3433250000

## 2.Create a missing value function handler

In [17]:
def missing_values(df, dates):
    # Ensure the 'Date' column is in datetime format
    df['Date'] = pd.to_datetime(df['Date'])

    # Extract unique years from the DataFrame
    years_in_df = df['Date'].dt.year.unique()
    years_in_df = sorted(years_in_df)

    # Define expected range from [min, max]
    expected_years = list(range(dates[0], dates[1] + 1))

    # Print range info
    print(f"Years in DataFrame: {years_in_df[0]} to {years_in_df[-1]}")
    print(f"Expected range: {dates[0]} to {dates[1]}")

    # Identify missing years
    missing = [year for year in expected_years if year not in years_in_df]
    
    if missing:

        return missing
    else:
        
        return []

In [21]:
missing_values(sp500, [2000, 2024])

Years in DataFrame: 2000 to 2024
Expected range: 2000 to 2024

[]